<ng-container *ngIf="loading">
  <div class="loading_report_card">
    <p>
      <ion-skeleton-text class="skeleton" animated></ion-skeleton-text>
    </p>
    <p>
      <ion-skeleton-text class="skeleton" animated></ion-skeleton-text>
    </p>
    <hr />
    <p>
      <ion-skeleton-text class="skeleton" animated></ion-skeleton-text>
    </p>
  </div>
</ng-container>

<ng-container *ngIf="!loading">
  <div class="report_card">
    <p>
      Receitas:
      <span>{{
        report == undefined
          ? "0,00"
          : (report.in_total_value | currency : "BRL")
      }}</span>
    </p>
    <p>
      Despesas:
      <span>{{
        report == undefined
          ? "0,00"
          : (report.out_total_value | currency : "BRL")
      }}</span>
    </p>
    <hr />
    <p>
      Total:
      <span>{{
        report == undefined ? "0,00" : (report.total_value | currency : "BRL")
      }}</span>
    </p>
  </div>
</ng-container>
