<div class="datepicker" (click)="openCloseDatepicker()">
  <p id="year">{{filter.year}}</p>
  <p id="month">{{filter.month}} <img src="/assets/icons/selector.svg" alt="" /></p>
</div>

<div
  class="datepicker_menu"
  *ngIf="openedDatepicker"
>
  <div>
    <ion-datetime
      presentation="month-year"
      locale="pt-br"
      (ionCancel)="openCloseDatepicker()"
      (ionChange)="getDataFromMonthAndYear($event)"
      [showDefaultButtons]="true"
      done-text="Confirmar"
      cancel-text="Cancelar"
      [min]="'2024-01-01'"
      [max]="'2030-12-31'"
    ></ion-datetime>
  </div>
</div>
