<div class="datepicker" (click)="openCloseDatepicker()">
  <p id="year">{{filter.year}}</p>
  <div>
    <p id="day" *ngIf="type != 'month-year'">{{filter.day}}</p>
    <span *ngIf="type != 'month-year'">de</span>
    <p id="month">{{filter.month}}</p>
    <img src="/assets/icons/selector.svg" alt="" />
  </div>
</div>

<div
  class="datepicker_menu"
  *ngIf="openedDatepicker"
>
  <div>
    <ion-datetime
      [presentation]="type"
      locale="pt-br"
      (ionCancel)="openCloseDatepicker()"
      (ionChange)="getData($event)"
      [showDefaultButtons]="true"
      done-text="Confirmar"
      cancel-text="Cancelar"
      [min]="'2024-01-01'"
      [max]="'2030-12-31'"
    ></ion-datetime>
  </div>
</div>
