<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="form">
    <ion-input
      formControlName="value"
      label="Valor"
      labelPlacement="floating"
      placeholder=""
      [clearInput]="true"
      fill="outline"
      type="number"
    >
    </ion-input>
    <ion-input
      [ngModelOptions]="{standalone: true}"
      [ngModel]="date | date:'dd/MM/yyyy'"
      label="Data"
      labelPlacement="floating"
      [clearInput]="true"
      fill="outline"
      (click)="openClose()"
    >
    </ion-input>
    <ion-input
      formControlName="description"
      label="Descrição"
      labelPlacement="floating"
      placeholder=""
      [clearInput]="true"
      fill="outline"
    >
    </ion-input>
    <div class="radios">
      <div *ngFor="let type of actionTypes">
        <input
          type="radio"
          [id]="type.value"
          name="type"
          [value]="type.value"
          formControlName="type"
        />
        <label [for]="type.value">{{type.title}}</label>
      </div>
    </div>
    <div class="buttons ion-margin-top">
      <button (click)="!this.updatingAction ? create() : edit()" [disabled]="form.invalid">{{ !this.updatingAction ? 'Registrar' : 'Atualizar' }}</button>
      <button (click)="clear()" color="danger" *ngIf="!hiddenCleanButton">
        Limpar
      </button>
    </div>
  </form>
</ion-content>

<ng-container *ngIf="showCalendar">
  <div class="datepicker">
    <ion-datetime
      presentation="date"
      locale="pt-br"
      done-text="Confirmar"
      cancel-text="Cancelar"
      (ionCancel)="openClose()"
      (ionChange)="getDate($event)"
      [showDefaultButtons]="true"
    ></ion-datetime>
  </div>
</ng-container>
