ion-content {
    ion-card {
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;

        ion-card-title {
                text-align: center;
            }
        }
        }

.my-ion-card {
    display: inline !important;
    width: 100%;
    height: 30%;
}

.buttons {
    display: flex;
    flex-direction: column;
}