<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card class="my-ion-card">
    <ion-card-header class="ion-text-center">
      <ion-card-subtitle>{{month}} - {{year}}</ion-card-subtitle>
      <ion-card-title>Finanças Atuais</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>
  <div class="buttons">
    <ion-button [routerLink]="['/tabs/tab2']" color="primary">Registrar</ion-button>
    <ion-button [routerLink]="['/tabs/tab3']" color="primary">Listagem</ion-button>
  </div>
</ion-content>