<ion-content [fullscreen]="true">
  <app-datepicker (emitFilterValue)="emitFilterValue($event)"></app-datepicker>
  <div class="report_card">
    <p>
      Entradas: + R$ 
      <span> 325,00</span>
    </p>
    <p>
      Saídas: - R$ 
      <span> 50,00</span>
    </p>
    <hr>
    <p>
      Total: R$ 
      <span> 275,00</span>
    </p>
  </div>

  <div class="buttons">
    <button [routerLink]="['/tabs/tab2']">
      Registrar
      <img src="/assets/icons/edit.svg" alt="">
    </button>
    <button [routerLink]="['/tabs/tab3']">
      Listagem
      <img src="/assets/icons/list.svg" alt="">
    </button>
  </div>
</ion-content>