ion-content {
  --padding-top: 1.5rem;
  --padding-end: 1.5rem;
  --padding-start: 1.5rem;
}

.datepicker-container {
  margin-bottom: 1.5rem;
}

.no-data-found {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;

  p {
    font-size: 1rem;
  }

  a {
    font-size: .875rem;
    color: var(--button-primary);
  }
}
