ion-content {
  --padding-top: 1.5rem;
  --padding-end: 1.5rem;
  --padding-start: 1.5rem;
}

.datepicker-container {
  margin-bottom: 1.5rem;
}

.no-data-found {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;

  p {
    font-size: 1rem;
  }

  a {
    font-size: .875rem;
    color: var(--button-primary);
  }
}

.load {
  display: flex;
  width: 100%;
  justify-content: center;

  img {
    width: 3rem;
    height: 3rem;
  }
}

.captions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1.2rem 0;

  .caption {
    &:first-child::before, &:last-child::before {
      content: '';
      display: inline-block;
      width: .8rem;
      height: .8rem;
      border-radius: 50%;
      margin-right: .5rem;
    }

    &:first-child::before {
      background-color: var(--font-success);
    }

    &:last-child::before {
      background-color: var(--font-failure);
    }
  }
}