.card {
  background-color: var(--background-secondary);
  padding: 1.875rem 1.0625rem 1.0625rem 1.0625rem;
  display: flex;
  gap: 0.75rem;
  flex-direction: column;
  border-radius: .25rem;
  margin-bottom: 1.5rem;
  position: relative;
}

.more {
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
  gap: .3rem;
  position: absolute;
  top: .75rem;
  right: .5rem;

  span {
    background-color: var(--font-quaternary);
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
  }
}

.in_card {
  border-top: .3125rem solid #4e894dc4;
}

.out_card {
  border-top: .3125rem solid #8c2c2cc4;
}

.hour {
  font-size: .75rem;
  color: var(--font-secondary);
}

.information {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;

  button {

      &:first-child {
        background-color: var(--button-primary);

        &:hover {
          background-color: var(--button-primary-hover);
        }

        &:active {
          background-color: var(--button-primary-active);
        }

        img {
          width: 1.25rem;
          height: 1.25rem;
          margin-left: 4px;
          filter: var(--filter-to-white);
        }
      }

      &:last-child {
        background-color: var(--button-secondary);

        &:hover {
          background-color: var(--button-secondary-hover);
        }

        &:active {
          background-color: var(--button-secondary-active);
        }
        
        img {
          width: 1rem;
          height: 1rem;
          margin-left: 4px;
          filter: var(--filter-to-white);
        }
      }
  }
}