/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    --ion-font-family: var(--font-family);
    font-family: var(--font-family);
}

:root {
    --background-principal: #e8e8e8;
    --background-secondary: #e0e0e0;

    --button-primary: #4890c5;
    --button-primary-active: #4589b9;

    --button-secondary: #da5c5c;
    --button-secondary-active: #c95555;

    --button-tertiary: #d3d3d3;

    --lines: #b1b1b1;

    --font-primary: #2c2c2c;
    --font-secondary: #545454;
    --font-tertiary: #ffffff;
    --font-quaternary: #aaaaaa;
    --font-success: #4e894d;
    --font-failure: #8c2c2c;

    --font-family: "Poppins";

    --filter-to-white: invert(93%) sepia(39%) saturate(1%) hue-rotate(171deg) brightness(107%) contrast(101%);
}

ion-content {
    --background: var(--background-principal);
    --padding-top: 1.5rem;
    --padding-bottom: 1.5rem;
    --padding-start: 1.5rem;
    --padding-end: 1.5rem;
}

button {
    font-size: 1rem;
    color: var(--font-tertiary);
    border-radius: 4px;
    padding: 14px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:disabled {
    background-color: var(--button-tertiary);
    color: var(--lines);
}

p {
    margin: 0;
}